body{
  background-color: #252525;
}

.titleText{
  color: #ffcc00;
}

.randomButton{
  font-size: 2em;
  padding: .4em;
  background-color: white;
  color: #252525;
  margin-top: 1.2em;
}

.App {
  text-align: center;
}

